# Flutter
build/
.dart_tool/
.pub/
.packages
*.iml

# IDE
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore

# iOS
ios/Pods/
ios/.symlinks/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
*.log

# Environment
.env
env.sh

# Dependencies
.pub-cache/
